<h1>Booking details</h1>

<table >
  <tr> 
    <th>Info needed</th>
    <th>Cust details</th>
  </tr>
  <tr>
  <td>Name:</td>
  <td>{{firstname}}</td>
  </tr>
  <tr>
  <td>Surname:</td>
  <td>{{surname}}</td>
 </tr>
 <tr>
  <td>Gender:</td>
  <td>{{gender}}</td>
 </tr>
<tr>
  <td>Age:</td>
  <td>{{age}}</td>
 </tr>
 <tr>
  <td>Booking date:</td>
  <td>{{bookingdate}}</td>
 </tr>
 <tr>
  <td>End date:</td>
  <td>{{enddate}}</td>
  </tr>
  <tr>
      <td>Room type:</td>
      <td>{{roomtype}}</td>
  </tr>
 
</table>


