<h1>Hotel overview</h1>

<p>
   
    The Mogale Hotels has a unique identity among the world’s leading hotels. <br>
    Established in 1928, we now operate prestigious luxury properties in ten major cities.<br>
    These include the flagship in Hong Kong, plus Shanghai, Tokyo, Beijing, New York, Chicago,<br>
   Beverly Hills, Bangkok, Manila, and Paris with Istanbul, London and Yangon under development.<br>
    Peninsula is a living legend, the name synonymous with luxurious comfort and impeccable service.<br>
    We set our sights high and our standards higher,<br>
    aiming always to delight our customers, and in many cases we are now serving the third generation of our loyal guests.
</p>
