<h1>Booking details</h1>


<div>

  
  first name:<br>
  <input type="text" class="text" [(ngModel)]="firstname"><br>
  Surname:<br>
  <input type="text" class="text" [(ngModel)]="surname"><br>
  Gender:<br>
  <input type="text" class="text" [(ngModel)]="gender"><br> 
  Age: <br>
  <input type="text" class="text" [(ngModel)]="age"><br>
  Booking date: <br>
  <input type="date" class="text" [(ngModel)]="bookingdate"><br>
  End date: <br>
  <input type="date" class="text" [(ngModel)]="enddate"><br>
 Room type<br>
  <input type="text" class="text" [(ngModel)]="roomtype"><br>

  <button (click)="book()"> Book here</button>

</div>

