<!--The content below is only a placeholder and can be replaced.-->

    <nav>
        <a routerLink="/display">Display</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact</a>
               
    </nav>
     
    
  <h1> Mogale Hotel</h1>
  


  <h2>Hotel details</h2>
  
  

  <p>
    Our hotel is based in Centurion Gautrain Station and a 10 minutes walk from the Centurion mall.
    <br> The elegant rooms features include a lat screen TVs, and a DVD player. Suite add a free WI-FI and heated floor.
    <br> An upgrated suites provide a grand piano, a chef's kitchen and a 10-person dining table.
    <br> An elegant lobby decorated with a local artwork offers hot drinks and light snacks. There is a cigar lounge.

  </p>
  <nav>
   <a routerLink="/booking">Explore</a>
  </nav>
  <router-outlet></router-outlet>
  
  <footer>
    Created by LC Mogale
  </footer>